.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    /* background-color: #B5C18E; */
    background: linear-gradient(#8D9E6A, #c0d497);
    padding: 0px;
    margin: 0 auto;
    font-family: "Montserrat";
    font-weight: 100;
    
    
}

.header{
    /* background-color: #EADBC8; */
    background: linear-gradient(#e3c39a,#d8c7b0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 120px;
    width: auto;
    margin: auto;
    box-shadow: 0 0 30px 0 #0007;

}
.nav{
    text-align:center;
    padding: 0; 
}
.nav ul{
    list-style: none;
    margin: auto;
    padding: auto;
    display: flex;
    gap: 20px;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    border-bottom: 1px solid black;
    margin: auto;
    
}


.imagen img{
    width: 33%;
    height: 20%;
    margin: -40px -20px;
    
}


#container{
width: 80%;
margin: 0px auto;
border: 1px solid; 
}

#imagen#container{
    width: 10px;
}


.titulo{
    text-align: center;
    padding: 2%;
    
}


#content{
    float: left;
    width: 80%;
    background-color: #F1F1F1;
    min-height: 500px;
}
.caja{
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    width: 200px;
    height: 150px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 120px;
    text-align: center;
    margin: 5px;
    
}



.c1{
    background: lightblue;
    border-radius: 15px;
}
.c2{
    background: antiquewhite;
    border-radius: 15px;
}
.c3{
    background: violet;
    border-radius: 15px;
}
.c4{
    background: darkgoldenrod;
    border-radius: 15px;
}

.flex-container{
    border: 2px solid black;
    border-radius: 20px;
    background-color: #EADBC8;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin: 2% auto;
    box-shadow: 0 0 30px 0 #0007;

}


#titulo{
    text-align: center;
    text-align: justify;
}

aside{
    width: calc(100% - 40px);
    background-color: #C7B7A3;
    min-height: 400px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10% auto;
    max-width: 400px;
    box-shadow: 0 0 30px 0 #0007;

}

#contacto{
    text-align: center;
    letter-spacing: 5px;
}

form{
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
form input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
} 
form textarea{
    height: 120px;
    text-align: center;
}

form button {
    border: 1px solid black;
    cursor: pointer;
    padding: 15px 20px;
    margin: auto;
    width: 30%;
    border-radius: 20px;
}

.footer{
    background: linear-gradient(#e3c39a,#d8c7b0);
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
    padding: 10px;
    box-shadow: 0 0 30px 0 #0007;

}

