.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    background-color: #B5C18E;
    padding: 0px;
    margin: 0 auto;
    font-family: "Montserrat";
    font-weight: 100;
    
    
}

.header{
    background-color: #EADBC8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 150px;
    margin: 0;
}
#nav{
    text-align:right;
    padding: 0;
}
#nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    
}
#nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    border-bottom: 1px solid black;
    margin: 10px;
}

.imagen{
    width: 550px;
    height: auto;

}
.Headerimg{
    width: 35%;
    height: auto;
    margin: 20px 0 0 0;
}

#container{
width: 80%;
margin: 0px auto;
border: 1px solid; 
}

#imagen#container{
    width: 10px;
}


.titulo{
    text-align: center;
    padding: 2%;
    
}


#content{
    float: left;
    width: 80%;
    background-color: #F1F1F1;
    min-height: 500px;
}
.caja{
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    width: 200px;
    height: 150px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 120px;
    text-align: center;
    margin: 5px;
    
}



.c1{
    background: lightblue;
    border-radius: 15px;
}
.c2{
    background: antiquewhite;
    border-radius: 15px;
}
.c3{
    background: violet;
    border-radius: 15px;
}
.c4{
    background: darkgoldenrod;
    border-radius: 15px;
}

.flex-container{
    border: 2px solid black;
    border-radius: 20px;
    background-color: #EADBC8;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin: 2% auto;
}


#titulo{
    text-align: center;
    text-align: justify;
}

aside{
    width: calc(100% - 40px);
    background-color: #C7B7A3;
    min-height: 400px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 1% auto;
    max-width: 400px;
}

#contacto{
    text-align: center;
}

.form{
    width: 100%;
    margin: 3% 0;
}

.footer{
    background-color: #EADBC8;

    text-align: center;
    line-height: 50px;
    padding: 10px;
}

